@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Password & Guid please!</h1>
    <form method="POST">
    <input type="text" id="guid" />
    <input type="password" id="password" />
    <button type="submit" onclick="bootApplication()">submit</button>
    </form>
</div>